// Main colors
$main-color: #4f27bf;

$light-grey: #a8a8a8;

// Text
$light-text-color: #ffffff;
$dark-text-color: #1c1c1e;

$shadow-color: rgba(#020060, 0.25);
$link-color: #002bc5;

// Media
$tablet: 768px;
